* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #555;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.dark {
    background: #333;    
}

.container {
    margin: 0 auto;
    max-width: 1400px;
}

nav {
	display: flex;
}

p,
ul,
nav {
    margin-bottom: 1.5em;
}

h1 {
	font-size: 2em; /* 32px */
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h2 {
	font-size: 1.125em; /* 28px */
}

td,
th {
    padding: 6px;
    background: #eaeaea;
}

th {
    font-weight: bold;
    text-align: center;
    background: #305271;
    color: #fff;
}

td:first-child {
	font-weight: bold;
    font-size: 18px;
    background: #f9f9f9;
    padding: 12px;
}

.text-centered  {
	text-align: center;
}

.btn {
    display: inline-block;
    padding: 0.75em 1.5em;
    background: #fff;
    border-radius: 4px;
    color: #555;
    text-decoration: none;
    transition: all 0.25s ease;
}

.btn:hover {
    background: #3b91e0;
    color: #fff;
}

.disabled {
    background: #fff;
	cursor: default;
    color: #555;
    opacity: 0.25;
}

.disabled:hover {
    background: #fff;
    color: #555;
}

.frame {
    overflow-y: auto;
    overflow-x: hidden;
}

.frame--desktop {
	width: 1440px;
    height: 1024px;
}

.frame--mobile {
    width: 375px;
    height: 668px;
}

.frame img {
	object-fit: fill;
}
